page-company-statistics {

  ion-grid {
    height: 100%;
  }

  .topRow {
    height: 35%;
  }

  .bottomRow {
    height: 65%;
  }

  ion-card {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
  }

  .card-orange {
    background-color: #ffe599;
    position: relative;
    text-align: right;
  }

  .card-title {
    position: absolute;
    top: 15%;
    font-size: 8em;
    width: 100%;
    font-weight: bold;
    padding-right: 6%;
  }

  .card-subtitle {
    font-size: 3.5em;
    position: absolute;
    top: 55%;
    width: 100%;
    padding-right: 6%;
  }

  .top5-text-index {
    font-weight: bold;
  }

  .top5-text {
    font-size: 1.5em;
  }

  .textHeader {
    font-size: 1.6em;
  }

  .chart {
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
  }

  ion-thumbnail {
    cursor: pointer;
  }

  @media (max-width: 1500px) {
    .card-title {
      font-size: 7em;
    }

    .card-subtitle {
      font-size: 3em;
    }
  }

  @media (max-width: 1300px) {
    .card-title {
      font-size: 6em;
      top: 22%;
    }

    .card-subtitle {
      font-size: 2.5em;
    }
  }

  @media (max-width: 1100px) {
    .card-title {
      font-size: 5em;
      top: 19%;
    }

    .card-subtitle {
      font-size: 2em;
    }

    .top5-text {
      font-size: 1.2em;
    }
  }

  @media (max-width: 950px) {
    .card-title {
      font-size: 4em;
      top: 30%;
    }

    .card-subtitle {
      font-size: 1.6em;
    }

    .top5-text {
      font-size: 1.2em;
    }
  }

  @media (max-width: 780px) {
    .card-title {
      font-size: 3em;
      top: 35%;
    }

    .card-subtitle {
      font-size: 1.2em;
    }

    .top5-text {
      font-size: 0.9em;
    }
  }

  @media (max-width: 480px) {
    .card-title {
      font-size: 2.3em;
      top: 40%;
    }
  }
}
