.header-button{
  margin-left: 2%;
  margin-right: 2%;
}

.complete-round-button{
  border-radius: 4em;
  height: 6vh;
  width:6vh;
  padding: 0%;
}

.team-label{
  font-size: 2vh;
}

.team-member-img{
  height: 8vh;
  width: 8vh;
  background-color: transparent;
}

.team-member >*{
  display: block;
  text-align: center;
}

.team-member{
  margin: 2%;
}

.search-member{
  min-width: 150px;
  height: 30%;
}
