page-opportunity-modal {

    .grid-header{
        position:relative;
        background-color:lightgray;
    }
    .column-lines {
        border-bottom:1px solid grey;
        min-height: 45px;
    }

}
