<ion-header>
  <!-- NAVBAR -->
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product</ion-title>
  </ion-navbar>
</ion-header>
<!-- Page Content -->
<ion-content>
  <ion-grid>
    <ion-row>
      <!-- CATEGORIES-->
      <ion-col col-4>
        <!-- search categories -->
        <div >
          <ion-searchbar placeholder="Search by category"
            [(ngModel)]="searchC"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="searchCategory($event)"
            (ionCancel)="onCancel($event)">
          </ion-searchbar> 
        </div>
        <!-- list categories -->      
        <ion-list>
          <ion-item *ngIf="categories.length == 0">
            No categories to display
          </ion-item>
          <div *ngFor="let c of categories; let i=index">
            <ion-item class="item-stable" text-wrap (click)="toggleGroup(i,c.ID)" [ngClass]="{active: isGroupShown(i)}">
              <h3>
                <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                {{c.ID}} : {{c.Nome}}
              </h3>
            </ion-item>
            <div *ngIf="isGroupShown(i)">
              <ion-item text-wrap *ngFor="let sub of subCategories; let j=index" 
                  (click)="onItemClicked(j,sub.IDFamilia,sub.ID)" 
                  [class.selected]="j === currentSelected">
                <p style="padding-left:12%">{{sub.ID}} : {{sub.Nome}}</p>
              </ion-item>
            </div>
          </div>
        </ion-list> 
      </ion-col>
      <!-- PRODUCTS-->
      <ion-col col-8>
        <!-- search products --> 
        <ion-searchbar placeholder="Search by product"
          [(ngModel)]="searchP"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchProduct($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
        <!-- list products -->
        <ion-grid>
          <ion-row *ngIf="isOpportunity === true">
            <button ion-button item-end color="secondary" (click)="sendProducts()">
              Finalize
            </button>
          </ion-row>
          <ion-row *ngIf="products.length == 0">
            <br><br>
            <p> No products to display</p>
          </ion-row>
          <ion-row *ngFor="let r of products">
            <ion-col *ngFor="let c of r.row">
              <!-- product -->
              <ion-card class="color" *ngIf="c!=null">
                <ion-card-header class="inline">
                  <h2>{{c.ID}} : {{c.Nome}}</h2>
                  <p class="muted">{{c.FamiliaNome}} , {{c.SubFamiliaNome}}</p>
                </ion-card-header>
                <button ion-button icon-right clear item-end class="right" (click)="openModal(c.ID)">
                    <ion-icon name="open"></ion-icon>
                </button>
                <ion-card-content >
                  <img class="litle"  align="middle" src="assets/imgs/logo.png"/>
                  <br>
                  <b>Price: </b>{{c.PrecoMedio}} €<br>
                  <b>Quantity: </b>{{c.StockAtual}} units
                </ion-card-content>
                <button *ngIf="isOpportunity === true" (click)="addProduct(c.ID,c.Nome,c.PrecoMedio)"
                  ion-button block color="secondary">Add To Opportunity
                </button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
