.main-content{
  max-width: 1200px;
  max-height:1200px;
}

.core-button > *{
  font-size: 2.3vh;
}

.other-button > *{
  font-size: 2vh;
}

.core-button{
  padding: 0%;
  height: 6vh;
  width:28vh;
}

.other-button{
  height: 5vh;
  margin:0;
}

table{
  font-size: 2vh;
  text-align: center;
  width: 100%;
}

tbody{
  background-color: white;
  //box-shadow: 2px 2px 25px black;
}

th:first-of-type{
  border-top-left-radius: 1em;
}
th:last-of-type{
  border-top-right-radius: 1em;
}

th{
  color:white;
  border-color: #488aff;
  background-color: #488aff;
}

tbody tr, tbody td{
  border-bottom: 2px solid;
  border-color: lightgray;
}

td,tr,th{
  padding: 4px;
}

.table-1-column{
  width:25%;
}

.calendar-comp {
  .columnHeader {
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #488aff;
    border-color: #488aff;
  }

  .columnHeader:first-child{
    border-top-left-radius: 1em;
    }

  .columnHeader:last-child{
    border-top-right-radius: 1em;
  }

  .cal-today {
    .cal-day-number {
      font-size: 2vh !important;
    }
  }
  .cal-day-cell {
    min-height: 5vh;
  }

  .cal-cell{
  text-align: center;
  }

  .cal-cell-top {
    min-height: 30px;
  }
  .cal-day-number {
    font-size: 2vh;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .cal-day-badge {
    display: none;
  }
}


.calendar-menu{
  font-size: 2.5vh;
  text-align: center;
}




