#main-content, #details-content{
  max-width: 1300px;
  max-height:1300px;
  margin-bottom: 3%;
}

#details-content{
  max-width: 800px;
}

//tags

.tag{
  border-color: #488aff;
  border-style: solid;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

//buttons

.core-button > *{
  font-size: 2.3vh;
}

.other-button > *{
  font-size: 2vh;
}

.core-button{
  padding: 0%;
  height: 6vh;
  width:28vh;
}

.other-button{
  height: 5vh;
  margin:0;
}

//tables

table{
  font-size: 2vh;
  text-align: center;
  width: 100%;
}

tbody{
  background-color: white;
  display:block;      //NEW
  overflow-y:auto;  //NEW
  max-height: 40vh;
  //box-shadow: 2px 2px 25px black;
}

//NEW
thead, tbody tr {
  display:table;
  width:100%;
}

table > thead:first-of-type th:first-of-type{
  border-top-left-radius: 1em;
}
table > thead:first-of-type th:last-of-type{
  border-top-right-radius: 1em;
}

tr{
  min-height: 5vh;
}

th{
  color:white;
  border-color: #488aff;
  background-color: #488aff;
}

tbody tr, tbody td{
  border-bottom: 2px solid;
  border-color: lightgray;
}

td,tr,th{
  padding: 1.5vh;
}

.table-1-column{
  width:25%;
}

//calendar

.calendar-comp {
  .columnHeader {
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background-color: #488aff;
    border-color: #488aff;
  }

  .columnHeader:first-child{
    border-top-left-radius: 1em;
    }

  .columnHeader:last-child{
    border-top-right-radius: 1em;
  }

  .cal-today {
    .cal-day-number {
      font-size: 3vh !important;
    }
  }
  .cal-day-cell {
    min-height: 6vh;
  }

  .cal-cell{
  text-align: center;
  }

  .cal-cell-top {
    min-height: 3vh;
  }
  .cal-day-number {
    font-size: 3vh;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .cal-day-badge {
    display: none;
  }
}


.calendar-menu{
  font-size: 2.5vh;
  text-align: center;
}

//Details
#DetailsSettings{
  display: none;
}

#DetailsSettings > *{
  margin:0.5%;
  float:right;
}



