page-product {
    .inline{
        display:inline-block;
    }
    .right{
        display:inline-block;
        float: right;
    }

    .muted{
        color: lightgray;
        font-size: 11;
    }

    img{
        width: 100px;
        height: 100px;
    }

}