page-product {
    .inline{
        display:inline-block;
    }
    .right{
        display:inline-block;
        float: right;
    }

    .muted{
        color: lightgray;
        font-size: 11;
    }

    .modal{
        width: 100%;
        height: 100%;
    }

    .litle{
        width: 70%;
        height: 70%;
        display: block;
        margin: 0 auto;
    }

    .down{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .breakline{
        white-space: initial;
    }

}