<ion-header>
  <!-- NAVBAR -->
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product</ion-title>
  </ion-navbar>
</ion-header>
<!-- Page Content -->
<ion-content>
  <ion-grid>
    <ion-row>
      <!-- CATEGORIES-->
      <ion-col col-4>
        <!-- search categories -->
        <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)"
          >
        </ion-searchbar> 
        <!-- list categories -->       
        <ion-list>
          <ion-item *ngFor="let c of categories; let i=index" text-wrap (click)="toggleGroup(i,c.category)" [ngClass]="{active: isGroupShown(i)}">
            <h3>
              <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              {{c.category}}
            </h3>
            <div *ngIf="isGroupShown(i)">
              <ion-item *ngFor="let y of categoryProducts; let j=index" text-wrap >
                {{y.name}}
              </ion-item>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- PRODUCTS-->
      <ion-col col-8>
        <!-- search products --> 
        <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
        <!-- list products -->
        <ion-grid>
          <ion-row *ngFor="let r of products">
            <ion-col *ngFor="let c of r.row">
              <!-- product -->
              <ion-card class="color">

                <ion-card-header class="inline">
                  <h2 >Titulo</h2>
                  <p class=" muted">Categoria</p>
                </ion-card-header>
                <button ion-button icon-right clear item-end class="right">
                    <ion-icon name="open"></ion-icon>
                </button>
              
                <ion-card-content>
                  <img src="../../../../resources/android/danone.jpeg"/>
                  <p>
                    <br>
                    <b>Price: </b>0.31<br>
                    <b>Quantity: </b>500
                  </p>
                </ion-card-content>
  
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
