page-client {


    .createGroupCol{
        max-width: 300px;
        min-width: 300px;
        margin-left:auto;
        margin-right:0;
    }

    .groupBtns{
        max-width: 138px;
        min-width: 138px;
    }

}
