<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Clients</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- *ngIf="showElement[0]" -->
  <ion-grid class="contacts-grid">

    <ion-row class="first-row">
      <ion-col col-5 class="search-bar-col">
        <ion-searchbar placeholder="Search for a client" [showCancelButton]="shouldShowCancel" (ionInput)="searchClient($event)"
          (ionCancel)="onCancel($event)"></ion-searchbar>
      </ion-col>
      <ion-col class="create-btns-col">
        <button ion-button (click)="toggleCreateGroup()" class="create-btn">Create Group</button>
        <button ion-button (click)="createClient()" class="right-btn create-btn">Create Client</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showCreateGroup">
      <ion-col class="createGroupCol">
        <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit(createGroupForm.value)">
          <ion-row>
            <ion-col>
              <ion-item [ngClass]="{'error-border':!createGroupForm.controls.id.valid && createGroupForm.controls.id.touched}" style="padding-left:0;">
                <ion-label floating>Group ID</ion-label>
                <ion-input formControlName="id" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item [ngClass]="{'error-border':!createGroupForm.controls.name.valid && createGroupForm.controls.name.touched}" style="padding-left:0;">
                <ion-label floating>Group Name</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
              </ion-item>
            </ion-col>

          </ion-row>
          <button ion-button color="primary" [disabled]="!createGroupForm.valid" class="groupBtns" type="submit">Create</button>
          <button ion-button (click)="toggleCreateGroup()" class="groupBtns">Cancel</button>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="grid-header">
      <ion-col class="column-1-line">Name</ion-col>
      <ion-col class="column-1-line">Group/Company</ion-col>
      <ion-col class="column-1-line">Email</ion-col>
      <ion-col class="column-1-line">Country</ion-col>
    </ion-row>

    <!-- Contactos -->
    <div *ngFor="let client of clients; let i = index">
      <ion-row (click)="toggleElement(i)">
        <ion-col class="column-1-line">{{client.Nome}}</ion-col>
        <ion-col class="column-1-line">{{client.EquipaDesc}}</ion-col>
        <ion-col class="column-1-line">{{client.Email}}</ion-col>
        <ion-col class="column-1-line">{{client.Pais}}</ion-col>
      </ion-row>

      <div *ngIf="showElement[i]">
        <ion-row>
          <!--
          <ion-col col-2 class="element-image">
            <!-- Image 
          </ion-col> -->
          <ion-col col-5 class="element-info">
            <fieldset class="min-size">
              <h4>Personal Information</h4>
              <p>
                <strong>Name:</strong> {{client.Nome}}</p>
              <p>
                <strong>Currency:</strong> {{client.Moeda}}</p>
              <p *ngIf="client.Morada">
                <strong>Address:</strong> {{client.Morada}}</p>
              <p *ngIf="client.CodPostal">
                <strong>ZipCode:</strong> {{client.CodPostal}}</p>
              <p *ngIf="client.Localidade">
                <strong>Location:</strong> {{client.Localidade}}</p>
              <p *ngIf="client.Pais">
                <strong>Country:</strong> {{client.Pais}}</p>
              <p *ngIf="client.NumContribuinte">
                <strong>Taxpayer Number:</strong> {{client.NumContribuinte}}</p>
              <p *ngIf="client.EncomendasPendentes">
                <strong>Pendent Deliveries Value:</strong> {{client.EncomendasPendentes}}</p>
              <p *ngIf="client.NumContribuinte">
                <strong>Total Debit:</strong> {{client.TotalDeb}}</p>
              <p *ngIf="client.EquipaDesc">
                <strong>Total Debit:</strong> {{client.EquipaDesc}}</p>
              <p *ngIf="client.Notas">
                <strong>Notas:</strong> {{client.Notas}}</p>
            </fieldset>
          </ion-col>
          <ion-col col-4 class="element-contacts">
            <fieldset class="min-size">
              <h4>Contacts</h4>
              <br>
              <div *ngIf="client.Telefone || client.Telemovel">
                <h6>Phone Number(s)</h6>
                <p>{{client.Telemovel}}</p>
                <p>{{client.Telefone}}</p>
              </div>
              <div *ngIf="client.Email">
                <h6>Email</h6>
                <p>{{client.Email}}</p>
              </div>
              <div *ngIf="client.Fax">
                <h6>Fax</h6>
                <p>{{client.Fax}}</p>
              </div>
              <div *ngIf="client.EnderecoWeb">
                <h6>Website</h6>
                <p>{{client.EnderecoWeb}}</p>
              </div>
            </fieldset>
          </ion-col>
        </ion-row>
        <ion-row class="additional-info">
          <ion-col>
            <button ion-button class="right-btn" outline>Client Activity</button>
            <button ion-button class="right-btn" outline (click)="editTarget(target.Id)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </ion-grid>

</ion-content>