<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Clients</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- *ngIf="showElement[0]" -->
  <ion-grid class="contacts-grid">

    <ion-row class="first-row">
      <ion-col col-5 class="search-bar-col">
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col class="create-btns-col">
        <button ion-button (click)="toggleCreateGroup()" class="create-btn">Create Group</button>
        <button ion-button (click)="createClient()" class="right-btn create-btn">Create Client</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showCreateGroup">
      <ion-col class="createGroupCol">
        <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit(createGroupForm.value)">
          <ion-row>
            <ion-col>
              <ion-item [ngClass]="{'error-border':!createGroupForm.controls.id.valid && createGroupForm.controls.id.touched}" style="padding-left:0;">
                <ion-label floating>Group ID</ion-label>
                <ion-input formControlName="id" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item [ngClass]="{'error-border':!createGroupForm.controls.name.valid && createGroupForm.controls.name.touched}" style="padding-left:0;">
                <ion-label floating>Group Name</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
              </ion-item>
            </ion-col>

          </ion-row>
          <button ion-button color="primary" [disabled]="!createGroupForm.valid" class="groupBtns" type="submit">Create</button>
          <button ion-button (click)="toggleCreateGroup()" class="groupBtns">Cancel</button>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="grid-header">
      <ion-col class="column-1-line">Name</ion-col>

      <ion-col class="column-1-line">Group/Company</ion-col>

      <ion-col class="column-1-line">Email</ion-col>

      <ion-col class="column-1-line">Country</ion-col>

    </ion-row>
    <!-- Contactos -->

    <div *ngFor="let client of clients; let i = index">
      <ion-row (click)="toggleElement(i)">

        <ion-col class="column-1-line">{{client.Nome}}</ion-col>

        <ion-col class="column-1-line">{{client.EquipaDesc}}</ion-col>

        <ion-col class="column-1-line">{{client.Email}}</ion-col>

        <ion-col class="column-1-line">{{client.Pais}}</ion-col>

      </ion-row>


      <div *ngIf="showElement[i]">
        <ion-row>
          <ion-col col-2 class="element-image">
            <!-- Image -->
          </ion-col>
          <ion-col col-5 class="element-info">
            <h2>Personal Information</h2>
            <br>
            <p>
              <strong>Name:</strong> {{client.Nome}}</p>
            <p>
              <strong>Currency:</strong> {{client.Moeda}}</p>
            <p *ngIf="client.Morada">
              <strong>Address:</strong> {{client.Morada}}</p>
            <p *ngIf="client.CodPostal">
              <strong>ZipCode:</strong> {{client.CodPostal}}</p>
            <p *ngIf="client.Localidade">
              <strong>Location:</strong> {{client.Localidade}}</p>
            <p *ngIf="client.Pais">
              <strong>Country:</strong> {{client.Pais}}</p>
            <p *ngIf="client.NumContribuinte">
              <strong>Taxpayer Number:</strong> {{client.NumContribuinte}}</p>
            <p *ngIf="client.EncomendasPendentes">
              <strong>Pendent Deliveries Value:</strong> {{client.EncomendasPendentes}}</p>
            <p *ngIf="client.NumContribuinte">
              <strong>Total Debit:</strong> {{client.TotalDeb}}</p>
            <p *ngIf="client.EquipaDesc">
              <strong>Total Debit:</strong> {{client.EquipaDesc}}</p>
            <p *ngIf="client.Notas">
              <strong>Notas:</strong> {{client.Notas}}</p>
          </ion-col>
          <ion-col col-4 class="element-contacts">
            <h2>Contacts</h2>
            <br>
            <div *ngIf="client.Telefone || client.Telemovel">
              <h4>Phone Number(s)</h4>
              <p>{{client.Telemovel}}</p>
              <p>{{client.Telefone}}</p>
            </div>
            <div *ngIf="client.Email">
              <h4>Email</h4>
              <p>{{client.Email}}</p>
            </div>
            <div *ngIf="client.Fax">
              <h4>Fax</h4>
              <p>{{client.Fax}}</p>
            </div>
            <div *ngIf="client.EnderecoWeb">
              <h4>Website</h4>
              <p>{{client.EnderecoWeb}}</p>
            </div>

          </ion-col>
        </ion-row>
        <ion-row class="additional-info">
          <ion-col class="additional-info-lb">
            <button ion-button (click)="editClient(client.CodCliente)">Edit</button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="toggleElement(i)">Close</button>
          </ion-col>
          <ion-col>
            <button ion-button class="right-btn">Client Activity</button>
          </ion-col>
        </ion-row>
      </div>
    </div>



  </ion-grid>

</ion-content>