<!--
  Generated template for the TargetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Client</ion-title>
  </ion-navbar>

</ion-header>






<ion-content padding>

  <!-- *ngIf="showElement[0]" -->
  <ion-grid class="contacts-grid">

    <ion-row class="first-row">
      <ion-col col-5 class="search-bar-col"><ion-searchbar></ion-searchbar></ion-col>
      <ion-col class="create-btns-col"><button ion-button class="create-btn">Create Group</button><button ion-button class="right-btn create-btn">Create Target</button></ion-col>
    </ion-row>

    <ion-row class="grid-header">
      <ion-col class="column-2-lines">
        <div class="first-line">Name</div>
        <div class="second-line">
          <p>Job Title</p>
        </div>
      </ion-col>

      <ion-col class="column-1-line">Group/Company</ion-col>

      <ion-col class="column-1-line">Contacts</ion-col>

      <ion-col class="column-1-line">Location</ion-col>

    </ion-row>
    <!-- Contactos -->

    <div *ngFor="let target of targets; let i = index">
      <ion-row (click)="toggleElement(i)">
        <ion-col class="column-2-lines">
          <div class="first-line">{{target.PrimeiroNome}}{{target.UltimoNome}}</div>
          <div class="second-line">
            <p>Estudante</p>
          </div>
        </ion-col>

        <ion-col class="column-1-line">FEUP</ion-col>

        <ion-col class="column-1-line">919999999</ion-col>

        <ion-col class="column-1-line">
          <div class="first-line">{{target.Morada}}</div>
        </ion-col>

      </ion-row>


      <div *ngIf="showElement[i]">
        <ion-row>
          <ion-col col-2 class="element-image">
            <!-- Image -->
          </ion-col>
          <ion-col col-5 class="element-info">
            <h2>Personal Information</h2>
            <br>
            <p><strong>Name:</strong> {{target.NomeCliente}}</p>
            <p><strong>Title:</strong> ola</p>
            <p><strong>Company:</strong> ola</p>
            <p><strong>Location:</strong> ola</p>
            <p><strong>Description:</strong> ola</p>
          </ion-col>
          <ion-col col-4 class="element-contacts">
            <h2>Contacts</h2>
            <br>
            <h4>Phone Number(s)</h4>
            <p>9199999999</p>
            <h4>Email(s)</h4>
            <p>olaaa@ola.ola</p>

          </ion-col>
        </ion-row>
        <ion-row class="additional-info">
          <ion-col class="additional-info-lb"><button ion-button></button></ion-col>
          <ion-col><button ion-button></button></ion-col>
          <ion-col>
            <button ion-button class="right-btn">Client Activity</button>
          </ion-col>
        </ion-row>
      </div>
    </div>



  </ion-grid>

</ion-content>